<div style="background-color: ghostwhite">
  <app-navbar (helpClicked)="openChat(1)"></app-navbar>

  <app-chattbot
    *ngIf="chatVisible"
    [chatbotEndpoint]="chatbotEndpont"
    (close)="closeChat()"
    [userId]="user?._id"
    [hidden]="isMinimized"
    (minimize)="handleMinimize()"
  ></app-chattbot>

  <router-outlet></router-outlet>

  <!-- Floating Chatbot Icon -->
  <div
    class="chatbot-launcher"
    (click)="isMinimized ? restoreChat() : openChat(1)"
    *ngIf="!isAnyChatbotOpen() || isMinimized"
  >
    <i class="fas fa-comments"></i>
  </div>

  <!-- Chatbot Options Menu -->
  <div class="chatbot-options" *ngIf="chatOptionsVisible">
    <button (click)="openChat(1)">Chatbot 1.0</button>
  </div>
</div>
