<div style="background-color: ghostwhite">
  <app-navbar (helpClicked1)="openChat(2)"></app-navbar>

  <app-chatbot2
    *ngIf="chatVisible1"
    [chatbotEndpoint]="chatbotEndpont"
    (close)="closeChat1()"
    [userId]="user?._id"
    [hidden]="isMinimized"
    [username]="this.username"
    (minimize)="handleMinimize()"
  ></app-chatbot2>
  <router-outlet></router-outlet>

  <!-- Floating Chatbot Icon -->
  <div
    class="chatbot-launcher"
    (click)="isMinimized ? restoreChat() : openChat(2)"
    *ngIf="!isAnyChatbotOpen() || isMinimized"
  >
    <i class="fas fa-comments"></i>
  </div>

  <!-- Chatbot Options Menu -->
  <div class="chatbot-options" *ngIf="chatOptionsVisible">
    <button (click)="openChat(2)">Chatbot 2.0</button>
  </div>
</div>
