<div style="background-color: ghostwhite">
  <app-navbar (helpClicked5)="openChat(5)"></app-navbar>
  <app-chatbot5
    *ngIf="chatVisible5"
    [hidden]="isMinimized"
    [chatbotEndpoint]="chatbotEndpont"
    (close)="closeChat5()"
    (minimize)="handleMinimize()"
    [userId]="user?._id"
  ></app-chatbot5>
  <router-outlet></router-outlet>

  <div
    class="chatbot-launcher"
    (click)="isMinimized ? restoreChat() : openChat(5)"
    *ngIf="!isAnyChatbotOpen() || isMinimized"
  >
    <i class="fas fa-comments"></i>
  </div>

  <!-- Chatbot Options Menu -->
  <div class="chatbot-options" *ngIf="chatOptionsVisible">
    <button (click)="openChat(5)">Chatbot 5.0</button>
  </div>
</div>
